/* line 1, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #e74c3c; }

/* line 10, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
p {
  line-height: 1.7; }

/* line 14, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
h2 {
  margin-top: 30px;
  font-size: 1.5em;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase; }

/* PUSH MENU */
/* line 22, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  padding: 50px 30px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  text-align: center;
  background-color: #c0392b; }

/* line 35, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu .brand {
  height: 25px;
  font-size: 40px;
  font-weight: 900;
  line-height: 0.6;
  color: #fff;
  text-transform: uppercase; }

/* line 43, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu ul {
  padding: 0;
  margin-top: 30px;
  list-style-type: none; }

/* line 49, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu ul li a {
  display: block;
  font-weight: 900;
  line-height: 50px;
  transition: all 0.2s ease-out;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff; }

/* line 59, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu ul li a:hover {
  letter-spacing: 2px; }

/* line 62, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
body.open #menu {
  left: 0; }

/* MAIN PAGE */
/* line 68, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
.page-wrap {
  padding: 50px;
  box-sizing: border-box;
  transition: all 0.3s ease-out; }

/* line 73, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
body.open .page-wrap {
  margin-left: 300px; }

/* line 78, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
button:focus {
  outline: none; }

/* line 81, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu-toggle {
  position: relative;
  width: 51px;
  height: 51px;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background: #c0392b; }

/* line 91, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu-toggle:before, #menu-toggle:after {
  position: absolute;
  content: "";
  transition: all 0.5s ease;
  background-color: #fff; }

/* line 98, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu-toggle:before {
  top: 12px;
  left: 24px;
  width: 3px;
  height: 27px; }

/* line 104, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
#menu-toggle:after {
  top: 24px;
  left: 12px;
  width: 27px;
  height: 3px; }

/* line 112, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
body.open button#menu-toggle:before, body.open button#menu-toggle:after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

/* CONTENT CONTAINER */
/* line 116, /Users/CaterinaOleary/Documents/School/Graphic Design/year3-2014-15/semester2/webdev/exercise-4/scss/components/main */
.container {
  max-width: 600px;
  min-width: 200px;
  margin: 0 auto; }
