body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: $font;
    color: $white;
    background-color: $bg;
}

p {
    line-height: 1.7;
}

h2 {
    margin-top: 30px;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* PUSH MENU */
#menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    padding: 50px 30px;
            box-sizing: border-box;
            transition: all .3s ease-out;
    text-align: center;

    background-color: #fff;
}
#menu .brand {
    height: 25px;
    font-size: 40px;
    font-weight: 900;
    line-height: .6;
    color: #ddd;
    text-transform: uppercase;
}
#menu ul {
    padding: 0;
    margin-top: 30px;
}

#menu ul li a {
    display: block;
    font-weight: 900;
    line-height: 50px;
            transition: all .2s ease-out;
    text-decoration: none;
    text-transform: uppercase;

    color: #232629;
    border-top: 1px solid #eee;
}
#menu ul li:last-child a {
    border-bottom: 1px solid #eee;
}
#menu ul li a:hover {
    letter-spacing: 1px;
}
body.open #menu {
    left: 0;
}
/* MAIN PAGE */
.page-wrap {
    padding: 50px;
            box-sizing: border-box;
            transition: all .3s ease-out;
}
body.open .page-wrap {
    margin-left: 300px;
}

/* MENU TOGGLE ICON */

button:focus {
    outline: none;
}
#menu-toggle {
    position: relative;

    width: 51px;
    height: 51px;

    cursor: pointer;

    border: none;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background: #fff;
}
#menu-toggle:before,
#menu-toggle:after {
    position: absolute;

    content: "";
    content: "";
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    background-color: #232629;
}

#menu-toggle:before {
    top: 12px;
    left: 25px;

    width: 1px;
    height: 27px;
}
#menu-toggle:after {
    top: 25px;
    left: 12px;

    width: 27px;
    height: 1px;
}

body.open button#menu-toggle:before,
body.open button#menu-toggle:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
/* CONTENT CONTAINER */
.container {
    max-width: 600px;
    min-width: 200px;
    margin: 0 auto;
}
